@font-face {
    font-family: scratchFont;
    src: local(scratch.tff);
}

html, body{
  height: 100%;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

body {
  background-color: #F2F2F2;
}

#header {
  display: block;
  position: fixed;
  top:0;
  left:0;
  height:50px;
  /*margin:auto;*/
  z-index: 100000;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  background: #9C0;
  color: #FFF;
  box-shadow: 0 0 3px hsla(0, 0, 0, .25);
  border-bottom: 1px solid hsla(0, 0, 0, .1);
}

.inner > ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  height: 50px;
  list-style: none;

  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.inner > ul > li {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 30px;
    margin-left: 10px;
}

/*#name {
  font-family: scratchFont;
  letter-spacing: 1.1px;
}*/

#content {
  color: #6B6B6B;
  background-color: inherit;
  margin: 50px auto;
  padding: 20px 0;
  min-width: 75%;
  width: 75%;
  min-height: 768px;
}

p {
  line-height: 1.5rem;
}

#sdsTitle {
  /* font-family: scratchFont; */
  font-size: 3em;
  font-weight: bold;
  /*color: #824DCB; Purple doesn't look great, other suggestions? */
}

#credits ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#credits li {
  display: inline-block;
  margin: 10px 0;
  width: 188px;
  text-align: center;
}

#credits li img {
  margin: 10px 23px;
  border: 2px;
  border-style: solid;
  border-radius: 50%;
  border-color: #B3B3B3;
  background-color: #fff;
  padding: 20px;
  width: 85px;
  height: 85px;
}
#credits {
  margin: 0 auto;
  margin-top: 50px;
}

#credits h2 {
  text-align: center;
}

a:link, a:visited {
  color: #9C0;
  text-decoration: none;
}
a:hover {
  color: #669900;
  text-decoration: none;
}
a:active {
  color: #360;
  text-decoration: underline;
}
/* entering dropdown zone */

/* dropdown button */
.dropdownButton {
  height: 50px;
  background-color: #9C0;
  color: #FFFFFF;
  padding: 0px 5px;
  font-size: 1rem;
  border: none;
  cursor: pointer;

  /* Vertically center text */
  display: flex;
  flex-align: center;
}

.dropdownIcon {
  margin-right: 5px;
}

/* Dropdown button on hover & focus */
.dropdownButton:hover, .dropdownButton:focus {
  background-color: #80B300;
  outline: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F2F2F2;
  min-width: 160px; /* this value can be changed as needed */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #6B6B6B;
  padding: 12px 16px;
  font-size: 0.6em;
  text-decoration: none;
  display: block;
}

.dropdown-content a:not(:last-child) {
  border-bottom: 1px solid #E6E6E6;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #B3B3B3;
}

.dropdown-content a:hover:not(:last-child){
  border-bottom: 1px solid #B3B3B3;
}
/* Show the dropdown menu */
.show {
  display: block;
}

.material-icons.md-18 { font-size: 18px; }

/*
ui-blue - #25AFF4
ui-orange - #F49D25
ui-gray - #F2F2F2
ui-dark-gray - #B3B3B3
ui-aqua - #26D9BB
ui-purple - #824DCB
ui-border - #D9D9D9

background-color: #FDFDFD

type-gray - #6B6B6B

splash-green - #9C0
splash-pink - #D2479D
*/
